/* ----------------------------------------------------------
    Setting Color
   ----------------------------------------------------------*/
:root {
    --color-prime: rgb(255, 123, 0);
    --color-secondary: rgb(0, 0, 0);
    --color-gray: #f5f5f5;
    --color-text: rgb(255,255,255);

}

/* ----------------------------------------------------------
    Custom Property
   ----------------------------------------------------------*/

/* Scroll Custom */
/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--black-light);
    margin: 2rem 0 2rem 0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 10px;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
}

body{
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    overflow-y: scroll;
    font-family: Lato,sans-serif;
}

/* ----------------------------------------------------------
    Header
   ----------------------------------------------------------*/

    














/* ----------------------------------------------------------
    Main body
   ----------------------------------------------------------*/

.container-fluid{
    padding: 0 !important;
}
/* Slider------------------------------------------------ */

#slider{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    box-sizing: border-box !important;
}




.carousel-item video {
    height: 100%;
    width: 100%;
}

.carousel-indicators button{
    border-radius: 50%;
}
.carousel-text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Promo------------------------------------------------ */
.promo1{
    background-color: var(--color-gray) !important;
}

.promo1 .button{
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 8px 22px;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 2.5rem;
    text-decoration: none !important;
    background-color: var(--color-secondary);
}

.promo3{
    position: relative;
    box-sizing: border-box;
}

.promo3 .parallax  {
    background-image: url("../asset/img/parallax.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    box-sizing: border-box;
    position: relative;
    
}

.promo3 .parallax-text{
    color: var(--color-text);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100 ;
    padding-left: 10rem ;
    padding-right: 10rem;
    row-gap: 1rem;
}

.serviceSelect > col:hover {
    color: var(--color-prime) !important;
} 

/* ----------------------------------------------------------
    Footer
   ----------------------------------------------------------*/

   footer{
        width: 100%;
        margin: 0 !important;
        display: flex !important;
        box-sizing: border-box !important;

   }