@media only screen and (width < 600px){
    #navbar{
        background-color: black !important;
    }

    .carousel-text h1{
        padding: 0 2rem 0 2rem !important;
        font-size: 1.5rem !important;
    }

    #arrowUp{
        display: none !important;
    }
    #request{
        display: none !important;
    }
    .serviceSelect .row{
        width: 100% !important;
    }

    .contact{
        position: relative !important;
    }
}