@media only screen and (width < 600px){
    #navbar{
        background-color: black !important;
        position: relative !important;
    }

    #arrowUp{
        display: none !important;
    }
    #request{
        display: none !important;
    }
    .supportmenu {display: none;}
    .mybtn {display: flex;}
}
