.mybody{
    box-sizing: border-box; position: relative; justify-content: space-between;
    display: flex; flex-shrink: 0; flex-wrap: nowrap; flex-direction: row;
    margin-bottom: -6px; margin-top: -6px; height: 100%;
    align-items: stretch; z-index: 0;
}
.supportmenu{
    width: 25%; min-width: 0; max-width: 100%; height: 100%;
    margin-top: 5px; top: 0; padding-top: 4px; padding-bottom: 0;
    box-sizing: border-box; z-index: 0;
    display: flex; flex-direction: column; flex-shrink: 0;
    align-self: flex-start; transform-style: preserve-3d;
    overflow-y: auto; overflow-x: hidden; overscroll-behavior-y: contain;
    perspective: 1px; perspective-origin: right top;
}

.menusort{
    height: 100%; padding-top: 40px;
}
.menulist{
    perspective-origin: right top; perspective: 1px;
    overflow-x: hidden; overflow-y: auto; z-index: 0; overscroll-behavior-y: contain;
    position: relative; transform-style: preserve-3d;
    display: flex; flex-direction: column;
    padding-top: 4px;
    height: 100%;
}
.menulistpos{
    position: relative;
    display: flex; flex-direction: column; flex-grow: 1;
}
.menuitem{
    justify-content: center; box-sizing: border-box; position: relative;
    margin-top: -8px;margin-bottom: -8px; margin-left: -6px; margin-right: -6px;
    display: flex; flex-direction: column; flex-grow: 1;
    min-width: 0; max-width: 100%;
    align-items: center; z-index: 0;
    padding-top: 30px; padding-bottom: 30px; padding-left: 12px; padding-right: 12px;
    font-size: larger; font-weight: 600;
}
.menuitem:hover{
    background-color: gray;
}
.helpother{
    display: flex; flex-basis: 0px; flex-direction: column; flex-grow: 1;
    padding-bottom: 0; padding-top: 6px; margin-left: 20px; margin-right: 20px;
    position: relative; box-sizing: border-box; 
    min-width: 0; max-width: 100%;
    z-index: 0;
}
.helpmain{
    width: 100%; min-height: calc(100vh-56px - 180px);
    padding-top: 20px;
    display: block;
}
.helpalign{
    width: 100%; max-width: 100%; min-height: inherit;
    display: flex; flex-direction: column; align-items: center;
    justify-content: center;
}
.helpsort{
    max-width: 100%;
    box-sizing: border-box; position: relative; z-index: 0;
    display: flex; flex-shrink: 0; flex-direction: column;
    padding-top: 20px; padding-left: 35px; padding-right: 35px;
    justify-content: center;
}
.supportbanner{
    box-sizing: border-box; position: relative; z-index: 0;
    display: flex; flex-shrink: 0; flex-direction: column;
    padding-top: 16px; max-width: 100%;
}
.supporttext{
    word-break: break-word; font-size: 1.5rem;
    text-align: left; min-width: 0; max-width: 100%;
    font-weight: 700; line-height: 1.1667; word-wrap: break-word;
    display: block;
}
.topic{
    padding-top: 20px; display: block;
    padding-bottom: 25px;
}
.topicbanner{
    display: block; padding-bottom: 24px;
}
.topictext{
    font-weight: 600; font-size: 1.25rem;
    min-width: 0; max-width: 100%; line-height: 1.2;
    word-wrap: break-word; display: block;
}
.boxalign{
    display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: center; align-items: stretch;
    margin: -8px;
}
.boxpos{
    margin: 8px; max-width: 100%; min-width: 256px; width: 256px;
    display: flex; flex-direction: row;
    align-items: stretch; justify-content: center; 
    position: relative; box-sizing: border-box;
    background-color: #ffc107;
    border-color: #ffc720; border-width: 1px;
    border-radius: 16px;
}
.boxinfo{
    margin-left: 32px; height: 256px; margin-bottom: 32px; margin-right: 32px; 
    display: block; cursor: pointer; flex-basis: auto;
    position: relative;
}
.boxsort{
    display: flex; flex-direction: column; flex-grow: 1;
    box-sizing: border-box; position: relative;
    min-height: 0; z-index: 0;
}
.boxitem1{
    box-sizing: border-box; position: relative; z-index: 0;
    display: flex; flex-shrink: 0; flex-direction: column; align-items: center;
    padding-bottom: 16px; max-width: 100%; margin-top: 32px;
}
.boxitem2{
    box-sizing: border-box; align-items: flex-start; position: relative;
    display: flex; flex-shrink: 0; flex-direction: column;
    z-index: 0;
    padding-top: 16px; max-width: 100%;
}
.topicname{
    margin-top: 5px; margin-bottom: 5px; min-width: 0; line-height: 1.1765; max-width: 100%;
    word-break: break-word; text-align: left; word-wrap: break-word;
    font-weight: 600; font-size: 1.0625rem;
    display: block; position: relative;
}
.topicinfo{
    margin-top: 5px; margin-bottom: 5px; min-width: 0; line-height: 1.3333; max-width: 100%;
    word-break: break-word; text-align: left; word-wrap: break-word;
    font-weight: 400; font-size: 0.9375rem;
}
.iconpos{
    position: relative; min-width: 0; z-index: 0;
    max-width: 100%; width: 140px;
    display: flex; flex-wrap: nowrap; flex-shrink: 0; flex-direction: row;
    align-items: center; justify-content: space-between;
}
.mybtn{
    display: none;
}
.container1{
    margin-top: 12px; margin-bottom: 12px;
    width: 25%; padding-left: 20px;
    display: flex; flex-direction: row;
}
@media only screen and (max-width: 768px){
    .supportmenu {display: none;}
    .mybtn {display: flex;}
}