form{
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
    background-color: rgba(233, 90, 18, 0.916);
    border-radius: 2%;
    color: white;
}
select.form-select{
    margin-top: 2em;
}
.form-control{
    margin-top: 2em;
}
#for_partner{
    display: none;
}
#for_user{
    display: none;
}
#Menu{
    display: block;
}
